<nav>
  <div class="main">
    <a href="/">
      {{ partial "image" (dict "Src" .Params.image19 "Context" .Page "Alt" .Title "Class" "" "Size"
      "160x32")
      }}
    </a>
    <ul>
      <li id="onclickAboutNav">Your water supply<i class="fa-solid fa-chevron-down"></i></li>
      <li id="onclickRegulatedNav">Help and advice<i class="fa-solid fa-chevron-down"></i></li>
      <li id="onclickResidedntailNav">Emergencies<i class="fa-solid fa-chevron-down"></i></li>
    </ul>
    <i class="fa-solid fa-bars" id="navResBar"></i>
  </div>
</nav>

<div id="navPAdding"></div>

<!-- ===========nav OnClick============ -->




<!-- For About -->
<div class="navClick" id="showAbout">
  <div class="main">
    <div class="f">
      <h1>Your water supply</h1>
      <p>In this section of the website, you can find information about your water supplier, shared water supplies,
        water filters, and lead pipe replacement.</p>
    </div>
    <div class="s"></div>
    <div class="links">

      <div class="t">
        <ul>
          <li><a href="water-supply-pipes">Water supply pipe
            </a></li>
          <li><a href="my-water-supplier">My water supplier
            </a></li>
          <li><a href="shared-water-supply">Shared water supply</a></li>
          <li><a href="lead-pipes">Lead pipes</a></li>
          <li><a href="water-filters">Water filters</a></li>
        </ul>
      </div>
      <div class="fo">
        <ul>

        </ul>
      </div>
    </div>
  </div>
</div>

<!-- For regulated -->
<div class="navClick" id="showRegulated">
  <div class="main">
    <div class="f">
      <h1>Help and advice</h1>
      <p>This section provides guidance on water quality, testing, high water bills, saving water, and certified
        contractors.</p>
    </div>
    <div class="s"></div>
    <div class="links">

      <div class="t">
        <ul>
          <li><a href="water-quality">Water quality</a></li>
          <li><a href="high-water-bill">High water bill</a></li>
          <li><a href="save-water">Save water</a></li>
          <li><a href="certified-contractors">Certified contractors</a></li>
        </ul>
      </div>
      <div class="fo">
        <ul>


        </ul>
      </div>
    </div>
  </div>
</div>


<!-- For residentail -->
<div class="navClick" id="showResidentail">
  <div class="main">
    <div class="f">
      <h1>Emergencies</h1>
      <p>In this section, you can find essential information on dealing with water leaks, low water pressure, no water,
        frozen or burst pipes, and turning your water on or off.</p>
    </div>
    <div class="s"></div>
    <div class="links">

      <div class="t">
        <ul>
          <li><a href="water-leaks">Water leaks</a></li>
          <li><a href="low-pressure-or-no-water">Low pressure or no water</a></li>
          <li><a href="turning-water-on-off">Turning your water on or off</a></li>
          <li><a href="water-leak-detection">Water leak detection</a></li>
        </ul>
      </div>
      <div class="fo">
        <ul>

        </ul>
      </div>
    </div>
  </div>
</div>

<div id="divider"></div>

<!-- ========= -->



<!-- responsiveNavbar================ -->


<div class="resNavbar" id="resNavbar">
  <div class="main">
    <div class="f" id="navClickResHome">
      <p>Your water supply</p>
      <i class="fa-solid fa-sort-down"></i>
    </div>

    <div class="navClickRes " id="navClickResShow">
      <div class="main">
        <h1>Your water supply</h1>
        <p>In this section of the website, you can find information about your water supplier, shared water supplies,
          water filters, and lead pipe replacement.</p>
        <div class="sec"></div>
        <div class="links">
          <ul>
            <li><a href="my-water-supplier">My water supplier
              </a></li>
            <li><a href="shared-water-supply">Shared water supply</a></li>
            <li><a href="water-supply-pipes">Water supply pipe
              </a></li>
            <li><a href="water-filters">Water filters</a></li>
            <li><a href="lead-pipes">Lead pipes</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="f" id="navClickResAbout">
      <p>Help and advice</p>
      <i class="fa-solid fa-sort-down"></i>
    </div>

    <div class="navClickRes" id="navClickResShowAbout">
      <div class="main">
        <h1>Help and advice</h1>
        <p>This section provides guidance on water quality, testing, high water bills, saving water, and certified
          contractors.</p>
        <div class="sec"></div>
        <div class="links">
          <ul>
            <li><a href="water-quality">Water quality</a></li>
            <li><a href="high-water-bill">High water bill</a></li>
            <li><a href="save-water">Save water</a></li>
            <li><a href="certified-contractors">Certified contractors</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="f" id="navClickResServices">
      <p>Emergencies</p>
      <i class="fa-solid fa-sort-down"></i>
    </div>

    <div class="navClickRes" id="navClickResShowServices">
      <div class="main">
        <h1>In this section, you can find essential information on dealing with water leaks, low water pressure, no
          water,
          frozen or burst pipes, and turning your water on or off.</h1>
        <p>In this section of the website you can find information about water and sewerage supply to
          businesses, charities and public sector organisations.</p>
        <div class="sec"></div>
        <div class="links">
          <ul>
            <li><a href="water-leaks">Water leaks</a></li>
            <li><a href="low-pressure-or-no-water">Low pressure or no water</a></li>
            <li><a href="turning-water-on-off">Turning your water on or off</a></li>
            <li><a href="water-leak-detection">Water leak detection</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>


<script>

  // ===========about
  const onclickAboutNav = document.getElementById("onclickAboutNav")
  const showAbout = document.getElementById("showAbout")

  onclickAboutNav.addEventListener('click', () => {
    showAbout.classList.toggle("showAbout")
    showRegulated.classList.remove("showRegulated")
    showResidentail.classList.remove("showResidentail")
    ShowInvestor.classList.remove("showResidentail")
    showBussniess.classList.remove("showBussniess")
  })

  // ===========regulated
  const onclickRegulatedNav = document.getElementById("onclickRegulatedNav")
  const showRegulated = document.getElementById("showRegulated")

  onclickRegulatedNav.addEventListener('click', () => {
    showRegulated.classList.toggle("showRegulated")
    showAbout.classList.remove("showAbout")
    showResidentail.classList.remove("showResidentail")
    ShowInvestor.classList.remove("showResidentail")
    showBussniess.classList.remove("showBussniess")
  })

  // ===========onclickResidedntailNav
  const onclickResidedntailNav = document.getElementById("onclickResidedntailNav")
  const showResidentail = document.getElementById("showResidentail")

  onclickResidedntailNav.addEventListener('click', () => {
    showResidentail.classList.toggle("showResidentail")
    showRegulated.classList.remove("showRegulated")
    showAbout.classList.remove("showAbout")
    ShowInvestor.classList.remove("showResidentail")
    showBussniess.classList.remove("showBussniess")
  })





  // ================responsive Nav============
  // ================responsive Nav============
  // ================responsive Nav============

  const navResBar = document.getElementById("navResBar");
  const resNavbar = document.getElementById("resNavbar");

  // Toggle responsive navbar visibility
  navResBar.addEventListener('click', () => {
    resNavbar.classList.toggle("resNavbarUnset");
  });

  // Toggle Home section visibility
  const navClickResHome = document.getElementById("navClickResHome");
  const navClickResShow = document.getElementById("navClickResShow");

  navClickResHome.addEventListener('click', () => {
    navClickResShow.classList.toggle("navClickResShow");
  });

  // Toggle About section visibility
  const navClickResAbout = document.getElementById("navClickResAbout");
  const navClickResShowAbout = document.getElementById("navClickResShowAbout");

  navClickResAbout.addEventListener('click', () => {
    navClickResShowAbout.classList.toggle("navClickResShowAbout");
  });

  // Toggle Services section visibility
  const navClickResServices = document.getElementById("navClickResServices");
  const navClickResShowServices = document.getElementById("navClickResShowServices");

  navClickResServices.addEventListener('click', () => {
    navClickResShowServices.classList.toggle("navClickResShowAbout");
  });


</script>