{{ define "main" }}
<!-- imporving life -->

<div class="improving">
  <h2>Improving life through water</h2>
</div>

<!-- Featured Updates==================== -->

<div class="featured">
  <h1>Featured Updates</h1>
  <div class="boxes">
    <div class="box">
      {{ partial "image" (dict "Src" .Params.image "Context" .Page "Alt" .Title "Class" "mx-auto mb-6" "Size" "400x260")
      }}

      <a href="water-leak">Water leak</a>
      <p>Leaks within or on your property are your responsibility. Our comprehensive guide provides advice....
      </p>
    </div>
    <div class="box">
      {{ partial "image" (dict "Src" .Params.image1 "Context" .Page "Alt" .Title "Class" "mx-auto mb-6" "Size"
      "400x260")
      }}
      <a href="lead-pipes">Lead pipes</a>
      <p>Lead has been used for plumbing since Roman times. If your house was built before 1970, there.....
      </p>
    </div>
    <div class="box">
      {{ partial "image" (dict "Src" .Params.image2 "Context" .Page "Alt" .Title "Class" "mx-auto mb-6" "Size"
      "400x260")
      }}
      <a href="low-water-pressure">Low pressure or no water</a>
      <p>Water pressure refers to the force exerted by water as it moves through the pipes, influencing the.......
      </p>
    </div>
    <div class="box">
      {{ partial "image" (dict "Src" .Params.image5 "Context" .Page "Alt" .Title "Class" "mx-auto mb-6" "Size"
      "400x260")
      }}
      <a href="water-filters">Water filters</a>
      <p>Water is essential to our daily lives, and ensuring its purity is crucial for health and well-being........
      </p>
    </div>
    <div class="box">
      {{ partial "image" (dict "Src" .Params.image6 "Context" .Page "Alt" .Title "Class" "mx-auto mb-6" "Size"
      "400x260")
      }}
      <a href="water-quality">Water quality</a>
      <p>If your water appears discoloured, has particles in it, or seems cloudy, here’s what might be causing..........
      </p>
    </div>
    <div class="box">
      {{ partial "image" (dict "Src" .Params.image8 "Context" .Page "Alt" .Title "Class" "mx-auto mb-6" "Size"
      "400x260")
      }}
      <a href="high-water-bill/">High water bill</a>
      <p>If your bill is higher than usual, we know it can be worrying, which is why we’re here to help you - there
        migh......
      </p>
    </div>
    <div class="box">
      {{ partial "image" (dict "Src" .Params.image11 "Context" .Page "Alt" .Title "Class" "mx-auto mb-6" "Size"
      "400x260")
      }}
      <a href="save-water">Save water</a>
      <p>By using less water, you can save money on your bills while also helping the environment......
      </p>
    </div>
    <div class="box">
      {{ partial "image" (dict "Src" .Params.image12 "Context" .Page "Alt" .Title "Class" "mx-auto mb-6" "Size"
      "400x260")
      }}
      <a href="shared-water-supplies">Shared water supply</a>
      <p>Modern homes typically have their own dedicated water supply pipe. However, some older properties.........
      </p>
    </div>
    <div class="box">
      {{ partial "image" (dict "Src" .Params.image14 "Context" .Page "Alt" .Title "Class" "mx-auto mb-6" "Size"
      "400x260")
      }}
      <a href="turning-water-on-off">Turning your water on or off</a>
      <p>Your stop tap, also known as a stopcock or stop valve, manages the cold water supply entering your.........
      </p>
    </div>
    <div class="box">
      {{ partial "image" (dict "Src" .Params.image15 "Context" .Page "Alt" .Title "Class" "mx-auto mb-6" "Size"
      "400x260")
      }}
      <a href="approved-plumbers">Approved plumbers</a>
      <p>Find a reputable, trustworthy water contractor for your needs, We always recommend that you select an.......
      </p>
    </div>
    <div class="box">
      {{ partial "image" (dict "Src" .Params.image16 "Context" .Page "Alt" .Title "Class" "mx-auto mb-6" "Size"
      "400x260")
      }}
      <a href="my-water-supplier">My water supplier</a>
      <p>Most customers receive their water and sewerage services from monopoly suppliers. Your bill should........
      </p>
    </div>
    <div class="box">
      {{ partial "image" (dict "Src" .Params.image17 "Context" .Page "Alt" .Title "Class" "mx-auto mb-6" "Size"
      "400x260")
      }}
      <a href="lead-pipe-replacement-scheme">Lead pipe replacement scheme</a>
      <p>Following an investigation by Ofwat, Welsh Water will have to pay £40m to benefit its customers.
      </p>
    </div>
    <div class="box">
      {{ partial "image" (dict "Src" .Params.image18 "Context" .Page "Alt" .Title "Class" "mx-auto mb-6" "Size"
      "400x260")
      }}
      <a href="water-supply-pipes">Water supply pipe</a>
      <p>If you suspect that your water supply pipe might need repair or replacement on your property, the
        following........
      </p>
    </div>
    <div class="box">
      {{ partial "image" (dict "Src" .Params.image21 "Context" .Page "Alt" .Title "Class" "mx-auto mb-6" "Size"
      "400x260")
      }}
      <a href="water-leak-detection">Water leak detection</a>
      <p>If you suspect that your water supply pipe might need repair or replacement on your property, the
        following........
      </p>
    </div>
  </div>
</div>
{{ end }}