{{ define "main" }}
<!-- imporving life -->

<div class="improving">
  <h2>Improving life through water</h2>
</div>

<!-- Featured Updates==================== -->

<div class="featured">
  <h1>Featured Updates</h1>
  <div class="boxes">
    <div class="box">
      {{ partial "image" (dict "Src" .Params.image "Context" .Page "Alt" .Title "Class" "mx-auto mb-6" "Size" "400x260")
      }}

      <a href="water-leak">Water leak</a>
      <p>Following an investigation by Ofwat, Welsh Water will have to pay £40m to benefit its customers.
      </p>
    </div>
    <div class="box">
      {{ partial "image" (dict "Src" .Params.image1 "Context" .Page "Alt" .Title "Class" "mx-auto mb-6" "Size"
      "400x260")
      }}
      <a href="lead-pipes">Lead pipes</a>
      <p>Following an investigation by Ofwat, Welsh Water will have to pay £40m to benefit its customers.
      </p>
    </div>
    <div class="box">
      {{ partial "image" (dict "Src" .Params.image2 "Context" .Page "Alt" .Title "Class" "mx-auto mb-6" "Size"
      "400x260")
      }}
      <a href="low-water-pressure">Low water pressure</a>
      <p>Following an investigation by Ofwat, Welsh Water will have to pay £40m to benefit its customers.
      </p>
    </div>
    <div class="box">
      {{ partial "image" (dict "Src" .Params.image3 "Context" .Page "Alt" .Title "Class" "mx-auto mb-6" "Size"
      "400x260")
      }}
      <a href="no-water">No water</a>
      <p>Following an investigation by Ofwat, Welsh Water will have to pay £40m to benefit its customers.
      </p>
    </div>
    <div class="box">
      {{ partial "image" (dict "Src" .Params.image4 "Context" .Page "Alt" .Title "Class" "mx-auto mb-6" "Size"
      "400x260")
      }}
      <a href="insurance-claim">Insurance claim</a>
      <p>Following an investigation by Ofwat, Welsh Water will have to pay £40m to benefit its customers.
      </p>
    </div>
    <div class="box">
      {{ partial "image" (dict "Src" .Params.image5 "Context" .Page "Alt" .Title "Class" "mx-auto mb-6" "Size"
      "400x260")
      }}
      <a href="water-filters">Water filters</a>
      <p>Following an investigation by Ofwat, Welsh Water will have to pay £40m to benefit its customers.
      </p>
    </div>
    <div class="box">
      {{ partial "image" (dict "Src" .Params.image6 "Context" .Page "Alt" .Title "Class" "mx-auto mb-6" "Size"
      "400x260")
      }}
      <a href="water-quality">Water quality</a>
      <p>Following an investigation by Ofwat, Welsh Water will have to pay £40m to benefit its customers.
      </p>
    </div>
    <div class="box">
      {{ partial "image" (dict "Src" .Params.image7 "Context" .Page "Alt" .Title "Class" "mx-auto mb-6" "Size"
      "400x260")
      }}
      <a href="water-testing">Water testing</a>
      <p>Following an investigation by Ofwat, Welsh Water will have to pay £40m to benefit its customers.
      </p>
    </div>
    <div class="box">
      {{ partial "image" (dict "Src" .Params.image8 "Context" .Page "Alt" .Title "Class" "mx-auto mb-6" "Size"
      "400x260")
      }}
      <a href="high-water-bill/">High water bill</a>
      <p>Following an investigation by Ofwat, Welsh Water will have to pay £40m to benefit its customers.
      </p>
    </div>
    <div class="box">
      {{ partial "image" (dict "Src" .Params.image9 "Context" .Page "Alt" .Title "Class" "mx-auto mb-6" "Size"
      "400x260")
      }}
      <a href="water-pump/">Water pump</a>
      <p>Following an investigation by Ofwat, Welsh Water will have to pay £40m to benefit its customers.
      </p>
    </div>
    <div class="box">
      {{ partial "image" (dict "Src" .Params.image10 "Context" .Page "Alt" .Title "Class" "mx-auto mb-6" "Size"
      "400x260")
      }}
      <a href="developers">Developers</a>
      <p>Following an investigation by Ofwat, Welsh Water will have to pay £40m to benefit its customers.
      </p>
    </div>
    <div class="box">
      {{ partial "image" (dict "Src" .Params.image11 "Context" .Page "Alt" .Title "Class" "mx-auto mb-6" "Size"
      "400x260")
      }}
      <a href="save-water">Save water</a>
      <p>Following an investigation by Ofwat, Welsh Water will have to pay £40m to benefit its customers.
      </p>
    </div>
    <div class="box">
      {{ partial "image" (dict "Src" .Params.image12 "Context" .Page "Alt" .Title "Class" "mx-auto mb-6" "Size"
      "400x260")
      }}
      <a href="shared-water-supplies">Shared water supply</a>
      <p>Following an investigation by Ofwat, Welsh Water will have to pay £40m to benefit its customers.
      </p>
    </div>
    <div class="box">
      {{ partial "image" (dict "Src" .Params.image13 "Context" .Page "Alt" .Title "Class" "mx-auto mb-6" "Size"
      "400x260")
      }}
      <a href="frozen-burst-pipes">Frozen or burst pipes</a>
      <p>Following an investigation by Ofwat, Welsh Water will have to pay £40m to benefit its customers.
      </p>
    </div>
    <div class="box">
      {{ partial "image" (dict "Src" .Params.image14 "Context" .Page "Alt" .Title "Class" "mx-auto mb-6" "Size"
      "400x260")
      }}
      <a href="turning-water-on-off">Turning your water on or off</a>
      <p>Following an investigation by Ofwat, Welsh Water will have to pay £40m to benefit its customers.
      </p>
    </div>
    <div class="box">
      {{ partial "image" (dict "Src" .Params.image15 "Context" .Page "Alt" .Title "Class" "mx-auto mb-6" "Size"
      "400x260")
      }}
      <a href="approved-plumbers">Approved plumbers</a>
      <p>Following an investigation by Ofwat, Welsh Water will have to pay £40m to benefit its customers.
      </p>
    </div>
    <div class="box">
      {{ partial "image" (dict "Src" .Params.image16 "Context" .Page "Alt" .Title "Class" "mx-auto mb-6" "Size"
      "400x260")
      }}
      <a href="my-water-supplier">My water supplier</a>
      <p>Following an investigation by Ofwat, Welsh Water will have to pay £40m to benefit its customers.
      </p>
    </div>
    <div class="box">
      {{ partial "image" (dict "Src" .Params.image17 "Context" .Page "Alt" .Title "Class" "mx-auto mb-6" "Size"
      "400x260")
      }}
      <a href="water-supplier-grants">Water supplier grants</a>
      <p>Following an investigation by Ofwat, Welsh Water will have to pay £40m to benefit its customers.
      </p>
    </div>
  </div>
</div>
{{ end }}